@import "base.css";
@import "fonts.css";
@import "animations.css";

/* Customized Bootstrap Styling*/
.bi {
    font-family: "Bootstrap Icons" !important;
    -webkit-text-stroke: none !important;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn {
  font-family: 'Zain', sans-serif !important;
  font-weight: 900;
}

.button-container {
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center buttons horizontally */
  gap: 0.5rem; /* Add space between buttons */
}

.button-container .btn {
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.button-container .btn:hover {
  transform: scale(1.1); /* Grow by 10% */
}