<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/css/404.css">
</head>
<body class="fade-in">
    <main class="content-container">
        <section class="error-section">
            <i class="bi bi-exclamation-triangle-fill error-icon"></i>
            <h1 class="error-title">404: PAGE NOT FOUND</h1>
            <h2 class="error-subtitle">How did you get here?!</h2>
            <h3 class="error-suggestion">Let's go back <a href="/">home</a>!</h3>
        </section>
    </main>
</body>
</html>
