<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
</head>
<body class="fade-in">
    <main class="content-container">
        <section class="floating-text">
            <h1 class="main-title">Johnny To</h1>
            <h2 class="sub-title">Hi, nice to meet you.</h2>
        </section>

        <section class="middle-section button-container">
            <!-- Curriculum-Vitae Button -->
            <a href="/curriculum-vitae" class="btn btn-outline btn-large">
                <i class="bi bi-person-vcard-fill"></i> Curriculum Vitae (CV)
            </a>

            <!-- Portfolio Button [Placeholder for Future Content]-->
            <span class="btn btn-outline btn-large disabled">
                <i class="bi bi-folder-fill"></i> Portfolio
            </span>

            <!-- LinkedIn Button -->
            <a href="https://www.linkedin.com/in/tojohnny/" target="_blank" class="btn btn-outline btn-large">
                <i class="bi bi-linkedin"></i> LinkedIn
            </a>

            <!-- GitHub Button -->
            <a href="https://github.com/348ab1a8-424a-43d8-b463-8e925d751c7f" target="_blank" class="btn btn-outline btn-large">
                <i class="bi bi-github"></i> GitHub
            </a>
        </section>

        <div class="qr-section">
            <h3>Quick share my page!</h3>
            <img src="/qrCodes/qrcode_jto.dev.png" alt="Quick Share Website" height="300">
        </div>
    </main>
</body>
</html>
