<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body class="fade-in">
    <main class="content-container">
        <section class="floating-text">
            <h1 class="main-title">Johnny To</h1>
            <h2 class="sub-title">Hi, nice to meet you.</h2>
        </section>

        <hr class="divider-gradient" />

        <section class="middle-section button-container">
            <!-- Curriculum-Vitae Button -->
            <a href="/curriculum-vitae" class="btn btn-outline btn-large">
                <i class="bi bi-person-badge-fill"></i> Curriculum Vitae (CV)
            </a>

            <!-- Portfolio Button-->
            <a href="/portfolio" class="btn btn-outline btn-large">
                <i class="bi bi-folder-fill"></i> Portfolio
            </a>

            <!-- Personal Wiki-->
            <a href="/docs" class="btn btn-outline btn-large">
                <i class="bi bi-wikipedia"></i> Personal Wiki
            </a>
        </section>

        <hr class="divider-gradient" />

        <section class="socials-section button-container">
            <!-- Socials -->
            <a href="/socials" class="btn btn-outline btn-large">
                <i class="bi bi-people-fill"></i> Socials
            </a>
        </section>

        <hr class="divider-gradient" />

        <div class="qr-section">
            <h3>Quick share my page!</h3>
            <img src="/qrCodes/qrcode_jto.dev.png" alt="Quick Share Website" height="300">
        </div>
    </main>
</body>
</html>
